# PostgreSQL Settings
POSTGRES_DB=tinder_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secretpassword

# Redis Settings
REDIS_PORT=6379

# MinIO (S3 Storage) Settings
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin